.searchbar input[type=text] {
    float:left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
  }
h2 {
    margin-left: 16px;
}
button {
    margin: 12px;
    
}